[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "build/deps/glm"]
	path = build/deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/tinyobjloader"]
	path = deps/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/openstl"]
	path = deps/openstl
	url = https://github.com/Innoptech/OpenSTL.git
[submodule "deps/geogram"]
	path = deps/geogram
	url = https://github.com/BrunoLevy/geogram.git
